* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* public style */
.wrapper {
  max-width: 1470px;
  padding: 0 200px;
}